<html>

<head>
    <link href="~/css/Start.css"  rel="stylesheet" type="text/css" />
    <title>Торрент трекер</title>
</head>
<body>
    <div class="form_title">
        <h1 class="form_title">Добро пожаловать</h1>

            <form class="form_login" action="Login" target="_self">
                <button>Войти</button>
            </form>

            <form class="form_registr" action="Registration" target="_self">
                <button>Зарегестрироваться</button>
            </form>

    </div>

</body>
</html>
