
h1 {
    text-align: center;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: normal;
}

button {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 55px;
    line-height: 32px;
    font-size: 40px;
    font-weight: 500;
    text-decoration: none;
    color: #f2f2f2;
    background-color: #3566ba;
    box-shadow: 0 2px #204b87;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
    display: block;
}

.form_login {
}
